# Compiler files
cache/
out/
coverage/
documentation/

#Ignored for compilation
ignoreCompile/
notes.txt

#Ignore Fork deployment tests
test/local/

#Echidna
/crytic-export

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# VS Code
.vscode/

# Dotenv file
.env

#Test coverage info file
lcov.info

#Gas snapshot file
.gas-snapshot

#Slither
slither.db.json

.DS_Store